{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard",
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "plugins": ["prettier", "@typescript-eslint"],
  "rules": {
    "prettier/prettier": "error",
    "@typescript-eslint/rule-name": "error"
  }
}
